{{define ".gitignore"}}
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.un~
*.yaml~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# PR files
.pr_git_initialize_file
.pr_preflight_check

/builds/*
/docs/*
/vendor/*
/volumes/*
/artifacts/*
/.templates/*
/.scannerwork/*
{{end}}
